<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid"> 
    <a class="navbar-brand" >D3 REST API - Web Client - G4</a>
 

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/add']" routerLinkActive="router-link-active" >Agregar </a>
        </li>
      </ul>
    </div> -->

  </div>
</nav>
<router-outlet></router-outlet>
